.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_header {
    flex-direction: column;
}

.profile_header h2 {
    font-size: 25pt;
    color: #494C4C;
    margin-bottom: 20px;
}

.main_container {
    display: flex;
    column-gap: 25px;
}

/* ======== Personal Info styles ======== */
.info_container {
    min-height: 350px;
    height: auto;
    width: 21rem;
    /* background-color: #FFFFFF; */
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 17px;
    text-align: start;
}

.info_box {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 6px;
}

.buttons_box,
.list_header {
    display: flex;
    justify-content: space-between;
}

/* ======== ChildrenList styles ======== */

.children_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #FFFFFF;
    min-height: 350px;
    /* width: 24rem; */
    min-width: 26rem;
    border-radius: 8px;
    padding: 1rem 1rem;
    row-gap: 13px;
}

.list_header {
    align-items: center;
}

.list_container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.scrollable {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

/* ========== ChildInfo styles ========== */

.child_cont {
    border: 1px solid #8993ED;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 7px;
    overflow: hidden;
    /* margin-right: 20px; */
    justify-content: space-between;
}

.info {
    display: flex;
    width: 150px;
}

.icon {
    display: flex;
    margin: 0px 10px;
    align-items: center;
}

.info h4 {
    color: #8993ED;
    font-size: 14px;
    font-weight: 500;
    margin-inline-end: auto;
}

.age {
    color: #8993ED;
    margin: 0px 20px 0px 10px;
}