.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_flex{
    display: flex;
    
}

.content {
    flex: 1;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Gap between header and windows*/
    
    width: auto;

    @media (min-height: 810px) {
        gap: 50px;
    }
}

/* ========== Header ========== */

.profile_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* max-width: 1000px; ======================== DEL
    margin: 1rem auto;
    padding: 0 1rem;
    width: 100%; */
}

.profile_img {
    max-width: 8rem;
    max-height: 8rem;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_header h2, p{
    color: #494C4C;
}

.profile_header p{
   margin-top: 0;
}

/* ========== Main content ========== */

.control_btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.back_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #494C4C;
    transition: all 0.4s ease;
}

.back_btn:hover {
    color: #929494;
}

.main_container {
    display: flex;
    column-gap: 25px;

    /* Shift the div a little up */
    margin-top: -10px;
}

/* ========= Info Container ========= */

.info_container {
    height: auto;
    width: 17rem;
    /* background-color: #FFFFFF; */
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 17px;
    text-align: start;
}

.info_box {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 6px;
}

/* ========= Library Container ========= */

.library_container {
    /* min-height: 350px; */
    height: 233.4px;
    width: 25rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.stories_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em 0.7em;
    overflow: hidden;
}

/* ======== Single Story Styles ======== */

.story_cont {
    width: 100px;
    height: 120px;
    border-radius: 6px;
    background-color: bisque;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.story_cont h4 {
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    padding: 0px 15px;
    bottom: 10px;
}

/* The black fade effect */
.story_cont:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    /* Adjust height for fade length */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.story_cont:hover {
    transform: scale(0.97);
    cursor: pointer;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}