

/* ========== HERO ========== */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: relative;
    /* Container Sizing */
    max-width: 1280px;
    margin: 0 auto 8rem auto;
    padding: 0 1rem;

    @media (max-width: 1360px) {
        padding: 0 3rem;
    }

    .hero_content {
        min-height: 30rem;
        width: 100%;
        background-color: #e0e0e0;
        border-radius: 2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 7rem;

        @media (max-height: 400px) {
            height: 27rem;
        }

        .hero_bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
        }

        .hero_text {
            display: flex;
            margin-left: auto;
            flex-direction: column;
            text-align: center;
            align-items: center;
            max-width: 590px;
            position: relative;

            h1 {
                font-weight: 700;
                font-size: 4.5rem;
                margin-bottom: 10px;
                color: #4c4c4c;
            }

            p {
                font-weight: 500;
                font-size: 1.56rem;
                margin-bottom: 30px;
                color: #4c4c4c;
            }

            .hero_startbtn {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-weight: 550;
                width: 15rem;
                border-radius: 10px;
                height: 50px;
            }
        }
    }
}

.arrow_link {
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition: all .50s ease;
    background-color: #4c4c4c;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.arrow_link:hover {
    transform: translateY(7px);
}

.feature_cont{
    /* Container Sizing */
    max-width: 1280px;
    margin: 0 auto 8rem auto;
    padding: 0 1rem;

    @media (max-width: 1360px) {
        padding: 0 3rem;
    }
}

.feature_box {
    background-color: #c4ded8;
    height: 23rem;
    border-radius: 2rem;
    position: relative;
    width: 100%;

    @media (max-width: 1180px) {
        display: flex;
    }
}

.feature_text {
    color: #4c4c4c;
    position: relative;
    top: 20%;
    left: 7%;
    max-width: 25rem;

    h2 {
        font-size: 3.2rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
    }
}

.feature_cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.56rem;
    position: absolute;
    right: -22%;
    top: 32%;

    @media (max-width: 1707px) {
        top: 70%;
        right: -7%;
    }

    @media (max-width: 1180px) {
        position: relative;
        width: 900px;
        top: 8rem;
        right: -10%;
    }

    .card {
        background-color: #EDEDED;
        border-radius: 1rem;
        border: 1.5px solid #8EC3B7;
        width: 20rem;
        padding: 1rem 3rem 4rem 1.5rem;

        @media (max-width: 1180px) {
            width: 15rem;
            height: 10rem;
        }

        h3 {
            font-size: 1.6rem;
            line-height: 30px;
            color: #353636;
        }
    }
}

.goal_box{
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Container Sizing */
    max-width: 1280px;
    margin: 0 auto 8rem auto;
    padding: 0 1rem;
    

    @media (max-width: 1360px) {
        padding: 0 5rem;
    }
}
.goal_content span {
    background-color: #C7CDFF;
    border-radius: 1rem;
    border: 5px solid #C7CDFF;
}

.goal_content h1 {
    text-align: center;
    color: #4c4c4c;
}

.steps {
    width: 100%;
    max-width: 1280px;
    padding: 0 2rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    h2 {
        font-size: 2.2rem;
        margin-bottom: 5px;
        color: #4c4c4c;
    }
}

.steps_left_column,
.steps_right_column {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.step_box1,
.step_box2,
.step_box3 {
    width: 20rem;
    height: 13rem;
    border-radius: 20px;
    color: #4c4c4c;
    font-size: 16pt;
    padding: 2rem;
}

.step_box1 {
    background-color: #E0E0E0;
}

.step_box2 {
    background-color: #E0E9F1;
}

.step_box3 {
    background-color: #D3DAED;
}

.step_box_title {
    width: 20rem;
    height: 3rem;
    border-radius: 7%;
    margin-bottom: 30px;
}

.steps_bg {
    position: absolute;
    z-index: 1;
}

.magicwind,
.magicball {
    height: 25rem;
    opacity: 6%;
}

.magicball {
    position: relative;
    bottom: -5rem;
    right: -11rem;
    transform: rotate(16deg);
}

.magicwind {
    position: relative;
    top: -5rem;
    left: -11rem;
    transform: rotate(12deg);
}