.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.content {
    flex: 1;  /* Occupies remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    padding-top: 3rem;
}

.spin{
    margin-top: 50px;
}

.wrapper {
    width: auto; 
    height: auto;
    background: white;
    border-radius: 10px;
    padding: 50px;
    position: relative;
    margin-bottom: 50px;

    .cancel_btn {
        color: #8993ED;
        text-decoration: none;
    }

    h1 {
        font-size: 2.6rem;
        font-weight: bolder;
        color: #8EC3B7;
    }

    .input_box {
        margin-top: 0.2rem;
    }

    .bottom_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .submitBtn{
            width: 150px;
        }
    }

    .input_bdate{
        width: 100%;
    }
}