.center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    display: flex;
    column-gap: 25px;
}

/* Left side =========================== */

.info_container {
    min-height: 350px;
    height: auto;
    width: 25rem;
    /* background-color: #FFFFFF; */
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 17px;
    text-align: start;
}

.namepic {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 3px;
}

.namepic img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.user_namemail {
    color: #494C4C;
}

.info_box {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.7rem 1rem;
    border-radius: 6px;
}

.buttons_box {
    display: flex;
    justify-content: space-between;
}

/* Right side =========================== */

.guards_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #FFFFFF;
    min-height: 350px;
    width: 18rem;
    border-radius: 8px;
    padding: 1rem 1rem;
    row-gap: 13px;
}

.list_container{
    flex: 1;
    height: 100%;
    overflow: auto;
}
.scrollable{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

/* ========== GuardianInfo styles ========== */

.guardian_cont {
    border: 1px solid #8993ED;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    overflow: hidden;
}

.guardian_cont h4{
    color: #8993ED;
    font-size: 14px;
    font-weight: 500;
}
.occupation {
    background-color: #8993ED;
    display: flex;
    justify-content: center;
    padding: 3px 5px;
    max-width: 100px;
    min-width: 60px;
    border-radius: 3px;
    margin-left: 5px;
}
.occupation p{
    margin-top: 0px;
    font-size: 12px;
    color: white;
}