.nav{
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 1360px) {
        padding: 0 3rem;
    }

    .nav_right{
        display: flex;
        align-items: center;
    }

    .nav_logo, a{
        max-height: 80px;
        /* img {
            transform: scaleX(-1);
        } */
    }

    .nav_logo{
        margin-right: 20px;
    }

    .nav_title{
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 700;
        color: #8EC3B7;
        margin-bottom: 0;
    }

    .nav_left{
        display: flex;
        align-items: center;
        margin-right: auto;

        .nav_login{
            box-shadow: none;
        }

        .nav_register{
            background-color: transparent;
            color: #8993ED;
            border: 1px solid #8993ED;;
        }
    }
}

@media (max-aspect-ratio: 16/9) {
    .nav {
        max-width: 1080px;
    }
}