*{
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    /*font-family: 'Tajawal', sans-serif;*/
}

body{
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}