.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 100px;
}


/* ======= Change Later ========== */
.header {
    display: flex;
    max-width: 1000px;
    width: 100%;
    max-height: 85px;
    margin: 0px auto 20px auto;

    @media (max-width: 1310px){
        max-width: 800px;
    }
}

.titles {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* ======== Body of Content ======== */

.contentSlider {
    max-width: 1000px;
    width: 100%;
    height: 500px;
    margin: 0 auto;

    @media (max-width: 1310px){
        max-width: 800px;
        height: 450px;
    }
}

.content_cont {
    width: 100%;
    height: 100%;
    position: relative;
}

.map_cont {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.content_wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_cont {
    padding: 3rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
}

.slider_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.slider_button {
    position: absolute;
    display: block;
    top: 40%;
}

.narration_btn {
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    /* bottom: 40px;
    left: 40px; */
}

.openingq_start_text {
    padding: 3rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.openingq_start_text > h1 {
    margin-bottom: 30px;
    font-size: 30pt;
}
.openingq_start_text > p {
    margin-bottom: 20px;
    font-size: 18pt;
}

.openingq_text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openingq_text > h3 {
    margin-bottom: 20px;
    font-size: 18pt;
}

.openingq_text > h3 > span {
    color: #82b0bc;
}

.opq_img_cont {
    width: 170px;
    height: 170px;
}